body {
  background-color: black;
  margin: 0;
}

button {
  display: none;
}

p:focus {
  outline: none;
}

p {
  background-color: white;
  box-shadow: 0 0 10px 10px white;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.cluster {
  position: relative;
  background-color: white;
  height: 600px;
  margin: 0 auto;
  width: 600px;
}

.node {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index:1;
}

.node:hover button {
  display: block;
}

.node.depth-0 {
  font-size: 2.00em;
  max-width: 20%;
}

.node.depth-1 {
  font-size: 1.00em;
  max-width: 10%;
}

.node.depth-2 {
  font-size: 0.75em;
  max-width: 7.5%;
}

.node.depth-3 {
  font-size: 0.50em;
  max-width: 5.6%;
}

.spoke {
  background-color: black;
  height: 1px;
  position: absolute;
  z-index:0;
}
