body {
  background-color: black;
}

button {
  opacity: 0;
}

p:focus {
  outline: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.cluster {
  position: relative;
  background-color: white;
  height: 600px;
}

.node {
  /*cursor: text; not working */
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.node:hover button {
  opacity: 1;
}

.node.depth-0 {
  font-size: 2.00em;
  width: 20%;
}

.node.depth-1 {
  font-size: 1.00em;
  width: 10%;
}

.node.depth-2 {
  font-size: 0.75em;
  width: 7.5%;
}

.node.depth-3 {
  font-size: 0.50em;
  width: 5.6%;
}
